build/
bin/
out/
[Bb]uild/
x64/
Debug/
Release/


.idea/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb

*.gch
*.pch
.cache/
compile_commands.json

.DS_Store
Thumbs.db